.shopping-cart {
  width: 700px;
  margin: 20px auto;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
}

.title {
  height: 60px;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.image img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.description {
  flex-grow: 1;
  margin-left: 10px;
}

.description span {
  display: block;
  font-size: 14px;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
    margin: 0 10px;
    border: none;
}

.quantity button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    background-color: #ac1313;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.minus-btn {
  margin-right: -10px;
  Cursor: pointer;
}

.plus-btn {
  margin-left: -10px;
  Cursor: pointer;
}


.total-price {
  width: 60px;
  text-align: right;
}

.subtotal {
  text-align: right;
  font-weight: bold;
  padding: 10px;
}

.checkout-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  background-color: #ac1313;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
