*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: hsla(0, 0%, 85.9%, 0.1);
}

.main-layout{
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
}
a{
    display: block;
    text-decoration: none;
}

/* Navigation */


.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



/* Logo styles */

nav{
    display: block;
    width: 100%;
    padding: 0px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ccc;
    line-height: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    height: 90px;
}
.nav-logo{
    font-size: 15px;
    color: black;
}


/* Menu styles */
.nav-menu{
    display: flex;
    gap: 20px;
}

.nav-link a{
    color: black;
    transition: color 0.3 ease;
    text-transform: uppercase;
    line-height: 22px;
    padding: 21px 20px;
    margin-top: 0;
    margin-left: 0;

}

.nav-link a:hover{
    color: #ac1313;
}



/* nav right styles */

.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* hamburger styles */

.hamburger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}