*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: hsla(0, 0%, 85.9%, 0.1);
  font-size: 14px;
  line-height: 20px;
}

.main-layout{
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

ul{
  list-style: none;
}
li{
  display: inline-block;
}
a{
  display: block;
  text-decoration: none;
  color: black;
}

/* Navigation */


.container{
  width: 100%;
  max-width: 1272px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  border-top: 1px solid #ebebeb;
  font-weight: 500;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



/* Logo styles */

nav{
    display: block;
    width: 100%;
    padding: 0px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ccc;
    line-height: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    height: 90px;
}
.nav-logo {
    font-size: 15px;
    color: black;
}


/* Menu styles */
.nav-menu{
    display: flex;
    gap: 20px;
}

.nav-menu.active{
    display: block;
    position: absolute;
    left: 0;
    top: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
   
}

.nav-menu.active a{
    color: white;
}


.nav-link a{
    color: black;
    transition: color 0.3 ease;
    text-transform: uppercase;
    line-height: 22px;
    padding: 21px 20px;
    margin-top: 0;
    margin-left: 0;
}

.nav-link a:hover{
    color: #ac1313;
}
#nav-active a{
  color: #ac1313;
}



/* side-navbar */

.side-navbar{
    display: flex;
    align-items: center;
    position: relative;
}


ion-icon {
    font-size: 26px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.hamburger-menu{
    margin-left: 20px;
    cursor: pointer;
}
.menu-icon{
    display: none;
    transition: transform 0.3s ease-in-out;
}
.close-icon{
    display: none;
}




@media screen and (max-width: 991px) {
  .nav-menu {
    display: none;
  }
  
  
  .menu-icon {
    display: block;
    transition: transform 0.3s ease-in-out;
  }

  .search-button {
    display: none;
  }
}







/* Hero Section */
.hero-section{
  position: relative;
  display: flex;
  overflow: hidden;
  height: auto;
  min-height: 760px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),url(/images/heroImage/arrow-forward-outline.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 700px;
}
.hero-background-img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.hero-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.button-dark{
  display: flex;
  margin-top: 0px;
  padding: 7.5px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #ac1313;
  transition: box-shadow 200ms ease, transform 200ms ease;
  color: #fff;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
}

.button-ligh{
  display: flex;
  padding: 7.5px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: black;
  transition: box-shadow 200ms ease, transform 200ms ease;
  color: #fff;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
}

@media screen and (max-width: 660px) {
  .hero-btns{
    flex-direction: column;
  }
}
/* Hero Section */


/* service-card */

.service-content{
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.service-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.service-icon{
  width: 90px;
  margin-bottom: 24px;
}

.service-icon svg{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.service-title{
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.service-text{
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}


@media screen and (max-width: 991px){
  .service-content{
    grid-column-gap: 0;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}
/* service-card */


/* product Section */

.product-section{
  border-top: none;
}
.product-main-title{
  text-align: center;
  padding-bottom: 30px;
  font-size: 30px;
}
.product-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  
}

@media screen and (min-width: 767px){
  .product-container{
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-card{
  position: relative;
}

.product-image img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.product-lable{
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  color: #fff;
  padding: 5px;
}

.product-title{
  margin-top: 10px;
}

.product-price{
  display: flex;
  align-items: center;
  float: left;
}

.price{
  float: left;
}
/* Sale Section */

/* about-us */

.about-us{
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas: ". .";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.about-us-img{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(/images/about\ home\ img.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  height: 800px;
  padding: 80px;
}

.about-us-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 80px;
  padding-left: 80px;
  background-color: #6c6c6c;
  text-align: center;
}
.about-us-column h2{
  max-width: 550px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
}

.about-us-column p{
  max-width: 550px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

.about-button{
  padding: 20px 40px;
  background-color: #ac1313;
  color: #fff;
}

@media screen and (max-width: 991px) {
  .about-us{
    grid-template-areas: "." ".";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
/* about-us */




/* footer */

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.top-footer-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 448px;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
.top-footer-title{
  font-size: 24px;
  line-height: 130%;
}
.subscribe-footer-form {
    margin: 0 0 15px;
}

.subscribe-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.subscribe-footer input {
    display: block;
    width: 100%;
    height: 38px;
}

.text-feild {
    min-height: 55px;
    margin-bottom: 0;
    padding: 14px 12px;
    border-radius: 2px;
    border: 1px solid #7238384d;
    background-color: rgba(0, 0, 0, 0);
    color: #ac1313;
    font-size: 18px;
    transition: border-color .2s;
}

.subscribe-submit-button {
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(/icons/arrow-forward-outline.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    background-size: 24px 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    text-decoration: none;
    display: inline-block;
}

.success-message,
.error-message {
    display: none;
    border-radius: 2px;
    text-align: center;
    padding: 20px;
}

.footer-line {
    height: 2px;
    background-color: #a24043;
    border-radius: 20px;
}

.bottom-footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.left-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    gap: 24px;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.f-brand {
    font-size: 24px;
}

.footer-social-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-social-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.buitl-text {
    display: flex;
    justify-content: space-evenly;
}

.buitl-text a {
    font-weight: bold;
}

.right-footer {
    display: block;
}

.link-footer-group-header {
    font-size: 24px;
    color: #a24043;
    line-height: 130%;
    gap: 24px;
}

.footer-link-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-link {
    font-weight: 400;
}

@media screen and (max-width: 991px) {
    .bottom-footer-wrapper {
        flex-direction: column;
    }

    .left-footer {
        margin-bottom: 10px;
    }
}



